<div class="animate__animated animate__fadeIn animate__faster">
    <h2>Por País</h2>
    <hr>
    
    <div class="row">
        <div class="col">
    
            <app-pais-input
                (onEnter)="buscar( $event )"
                (onDebounce)="sugerencias( $event )"
                placeholder="Buscar país ..."><!--escuchamos en el padre el evento (onEnter) y llamamos el método buscar() que se encuentra en el por-pais.component.ts y mandamos el evento ( $event ). Dentro de el ( $event ) viene el string producto de input -->
                                                
            </app-pais-input>
    
        </div>
    </div>

    <ul *ngIf="mostrarSugerencias"
        class="list-group"><!--Solo se mostrará cuando hayan sugerencias-->
        <li *ngFor="let pais of paisesSugeridos" class="list-group-item list-group-item-action">
            <a  class="nav-link"
                [routerLink]="['/pais', pais.alpha2Code]"><!--Crea el link en los paises que aparecen en sugerencias para poder ir a su detalle-->
                {{pais.name}}
            </a>
        </li>
        <li class="list-group-item list-group-item-action"
            (click)="buscarSugerido( termino )"><!--Aplica el método buscarSugerido(), nos mostrará la tabla de paises que coinciden con los términos de búsqueda-->
            <a class="nav-link"><!--Crea el link en los paises que aparecen en sugerencias para poder ir a su detalle-->
                Buscar "{{ termino }}"
            </a>
        </li>

    </ul>
    
    <hr>
    
</div>

<div *ngIf="hayError" 
     class="alert alert-danger">
    No se encontró nada con el término {{ termino }}
</div>

<div *ngIf="paises.length > 0">
    <div class="col">
        <app-pais-tabla [paises] = "paises"></app-pais-tabla><!--paises[paises] va a ser = a la variable paises"paises" que tengo en mi por-pais.component, si no equiparamos las variables no mostrará nada-->
    </div>  
</div>
