<h2>Por País</h2>
<hr>

<div class="row">
    <div class="col">

        <app-pais-input></app-pais-input>

    </div>
</div>

<hr>

<div *ngIf="hayError" 
     class="alert alert-danger">
    No se encontró nada con el término {{ termino }}
</div>

<div *ngIf="paises.length > 0">
    <div class="col">
        <app-pais-tabla [paises] = "paises"></app-pais-tabla><!--paises[paises] va a ser = a la variable paises"paises" que tengo en mi por-pais.component, si no equiparamos las variables no mostrará nada-->
    </div>  
</div>
