<div class="animate__animated animate__fadeIn animate__faster">
    <h2>Por Capital</h2>
    <hr>
    
    <div class="row">
        <div class="col">
    
            <app-pais-input
                (onEnter)="buscar( $event )"
                placeholder="Buscar capital ..."><!--escuchamos en el padre el evento (onEnter) y llamamos el método buscar() que se encuentra en el por-pais.component.ts y mandamos el evento ( $event ). Dentro de el ( $event ) viene el string producto de input. Si usamos placeholder= mandamos un string, si usamos[placeholder] mandamos un valor -->
                                                
            </app-pais-input>
    
        </div>
    </div>
    
    <hr>
    
</div>

<div *ngIf="hayError" 
     class="alert alert-danger">
    No se encontró nada con el término {{ termino }}
</div>

<div *ngIf="paises.length > 0">
    <div class="col">
        <app-pais-tabla [paises] = "paises"></app-pais-tabla><!--paises[paises] va a ser = a la variable paises"paises" que tengo en mi por-pais.component, si no equiparamos las variables no mostrará nada-->
    </div>  
</div>
